@model IEnumerable<DoAnChuyenNganh_HeThongTrungTamTinHoc.Models.GiaoVien>
@{
    ViewBag.Title = "PhanLichDay";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h1>Phân lịch dạy</h1>
@foreach (var giaoVien in Model)
{
    <div>
        <p>@giaoVien.HoTen</p>
        
    </div>
}