
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Lịch sử hình thành</h5>
                <p class="card-text">20/10/2024</p>
                <a href="#" class="btn btn-primary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Chức năng nhiệm vụ của Trung tâm tin học HUIT</h5>
                <p class="card-text">20/10/2024</p>
                <a href="#" class="btn btn-primary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Sơ đồ tổ chức của Trung tâm tin học HUIT</h5>
                <p class="card-text">20/10/2024</p>
                <a href="#" class="btn btn-primary">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>



