
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GiangVien.cshtml";
}



<section id="profile">
    <h2>Thông tin giảng viên</h2>
    <div class="info-box">
        <p><strong>Tên:</strong> Nguyễn Văn A</p>
        <p><strong>Email:</strong> nguyenvana@example.com</p>
        <p><strong>Khoa:</strong> Khoa Công Nghệ Thông Tin</p>
    </div>
</section>