
@{
    ViewBag.Title = "LichDay";
    Layout = "~/Views/Shared/_GiangVien.cshtml";
}

<section id="schedule">
    <h2>Lịch dạy</h2>
    <table>
        <thead>
            <tr>
                <th>Môn học</th>
                <th>Thời gian</th>
                <th>Phòng học</th>
            </tr>
        </thead>
        <tbody id="scheduleTable">
            <!-- Lịch dạy sẽ được hiển thị tại đây -->
        </tbody>
    </table>
</section>

<script src="~/Javascript/GiangVien.js"></script>

