
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<style>
    .noiDung {
        text-align: center;
    }
</style>

<div class="container-fluid border" style="margin-top: 250px;">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h3 class="text-danger">Thông tin liên hệ</h3>
        <div class="noiDung">
            <p>Chào các bạn, cám ơn bạn đã quan tâm các khóa học tại Trung Tâm Tin Học Trường Đại học Công Thương Thành phố Hồ Chí Minh</p>
            <br />
            <p>
                Xin vui lòng liên hệ với chúng tôi để được tư vấn và ghi danh các khóa học:<br />
                <span class="fw-bold">Trụ sở chính:</span> 227 Nguyễn Văn Cừ, Quận 5, Thành phố Hồ Chí Minh
                Cơ sở: 21 - 23 Nguyễn Biểu, Quận 5, Thành phố Hồ Chí Minh
            </p>
            <p>Vui lòng liên hệ với chúng tôi qua số <span class="fw-bold">0869 016 079</span> để được giải đáp mọi thắc mắc và hỗ trợ thông tin về các khóa học, hoặc gửi mail về địa chỉ: <span class="fw-bold">its@hufi.edu.vn</span></p>
            <p>Các yêu cầu liên quan đến việc hợp tác đào tạo theo yêu cầu cơ quan doanh nghiệp,  phát triển phần mềm, cung cấp giải pháp và thiết bị CNTT, tư vấn các dự án CNTT,... vui lòng liên hệ email <span class="fw-bold">its@hufi.edu.vn</span></p>
        </div>
    </div>
</div>
