
@{
    ViewBag.Title = "ThongTinHocVien";
    Layout = "~/Views/Shared/_HocVien.cshtml";
}

<<<<<<< HEAD
<link href="~/Css/GiangVien.css" rel="stylesheet" />

<div class="d-flex flex-column h-100">
    <div class="p-3 w-100">
        <section id="profile">
            <h2>Thông tin học viên</h2>
            <table>
                <thead>
                    <tr>
                        <th>Ảnh học viên</th>
                        <th>Mã học viên học viên</th>
                        <th>Tên học viên</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody id="thongTinHocVien">
                </tbody>
            </table>
        </section>

        <section id="schedule">
            <h2>Lịch học</h2>
            <table>
                <thead>
                    <tr>
                        <th>Môn học</th>
                        <th>Thời gian</th>
                        <th>Phòng học</th>
                    </tr>
                </thead>
                <tbody id="scheduleTable">
                </tbody>
            </table>
        </section>

    </div>
    <script src="~/Javascript/GiangVien.js"></script>
</div>

=======
>>>>>>> 1effebad2ee52f79e9fb02e3741707bbcc00559f
